[Unit]
Description=Setup dnsmasq
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/sbin/dnsmasq-systemd-wrapper start
ExecStop=/usr/sbin/dnsmasq-systemd-wrapper stop

[Install]
WantedBy=multi-user.target
