[Unit]
Description=Simple firewall
After=network.target systemd-modules-load.service ubus.service netifd.service

[Service]
Type=idle
ExecStart=/sbin/fw3 start
RemainAfterExit=yes
ExecStop=/sbin/fw3 flush
ExecReload=/sbin/fw3 reload
Restart=on-failure
RestartSec=5s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

