[Unit]
Description=IDP Customer Run Once Function
After=network-online.target
Before=lighttpd.service

[Service]
ExecStart=/etc/runonce/runonce.sh

[Install]
WantedBy=multi-user.target


