[Unit]
Description=Pulsar Gateway Initialization (stage 3).
Before=sysinit.target shutdown.target systemd-update-done.service
After=systemd-udevd.service run-postinsts.service systemd-remount-fs.service systemd-tmpfiles-setup.service tmp.mount
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/bin/boot-stage3 start

[Install]
WantedBy=sysinit.target
