[Unit]
Description=Pulsar Gateway Customer Run Once Function
After=network-online.target

[Service]
ExecStart=/etc/runonce/runonce.sh

[Install]
WantedBy=multi-user.target


